*
{
    margin: 0;
    padding: 0;
}

h1
{
    font-family: 'Aguafina Script', cursive;
    text-align: center;
    font-size: 4em;
    margin-top: 1em;
}

body
{
    background-color: #476a6b;
}

.fotorama
{

}

#wrapper
{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    padding: 3em;
    border: 2px solid #333333;
    background-color: white;
    box-shadow: 0em 0em 0.8em #000;
}